@import "../../../scss/index.scss";

.ui.grid.logged-layout {
  background-color: $background-dark;
  min-height: 100vh;
  margin: 0;

  > .row {
    padding: 0;

    &:first-of-type {
      height: 92vh;
    }

    > .column {
      padding: 0;
    }
  }

  .content {
    height: 92vh;
    overflow-y: scroll;
  }
}
