@import "../../../scss/index.scss";

.auth-option {
  margin-top: 50px;

  h2 {
    font-size: 24px;
    color: $font-ligth;
    font-weight: 500;
    font-family: $fontFamily;
    text-align: center;
    margin-bottom: 50px;
  }

  .ui.button.register,
  .ui.button.login {
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 50px;
    padding: 20px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: $fontFamily;
  }

  .ui.button.register {
    background-color: $background-ligth;
    color: $font-black;
  }

  .ui.button.login {
    background-color: $primary-color;
    color: $font-ligth;
  }
}
