@import "../../scss/index.scss";

.anadir-opciones {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $background-grey;
  margin-top: 80px;
  border-radius: 10px;

  .ui.button {
    text-transform: uppercase;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 50px;
    padding: 20px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: $fontFamily;
    background-color: $primary-color;
    color: $font-ligth;

    &:hover,
    &:active,
    &:focus {
      color: $font-ligth;
      background-color: $primary-color;
    }
  }

  .separator {
    width: 100%;
    height: 0.5px;
    background-color: $background-grey-ligth;
  }

  .ui.input {
    width: 93%;
    color: $font-ligth;
    input {
      background-color: $background-grey-ligth;
      height: 50px;
      color: $font-ligth;
      margin-bottom: 20px;
      &:hover,
      &:active,
      &:focus {
        background-color: $background-dark-hover;
        border: 0;
        color: $font-ligth;
      }
    }
  }

  h3 {
    color: $primary-color !important;
    padding: 20px;
    text-align: left !important;
    padding-bottom: 20px;
  }

  p {
    color: $font-ligth !important;
    padding: 20px;
    text-align: left !important;
  }

  .ui.checkbox .box:before,
  .ui.checkbox label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    content: "";
    background: $font-ligth;
    border-radius: 0.21428571rem;
    transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease,
      box-shadow 0.1s ease;
    border: 1px solid $primary-color;
    color: $font-ligth;
  }

  .ui.checkbox {
    label {
      color: $font-ligth;

      &:hover,
      &:active,
      &:focus,
      &::before,
      &::after {
        color: $font-ligth;
      }
    }
  }
}
