@import "../../scss/index.scss";

.valoraciones {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $background-grey;
  margin-top: 80px;
  border-radius: 10px;

  .titles {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
    font-family: $fontFamily;
    color: $primary-color;
    margin: 40px;
  }

  .titlesh1 {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
    font-family: $fontFamily;
    color: $font-ligth;
    margin: 40px;
  }

  .card__container {
    text-align: left;
    margin: 40px;
    padding-bottom: 30px;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }

  .name {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
    font-family: $fontFamily;
    color: $font-ligth;
  }

  .date {
    font-size: 12px;
    font-weight: 300;
    font-family: $fontFamily;
    color: $font-ligth;
  }

  .comments {
    font-size: 14px;
    font-weight: 300;
    font-family: $fontFamily;
    color: $font-ligth;
    margin-left: 65px;
    margin-top: 20px;
  }
}
