@import "../../scss/index.scss";

.css-1qtlriq-SkeletonTheme {
  background-color: $background-grey-ligth;
  border-radius: 10px;
  box-shadow: 0 2px 14px 0 rgba(32, 32, 32, 0.5);
  .card {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    &__imgs {
      img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        object-fit: cover;
        object-position: center center;
      }
    }

    &__contaiter {
      margin-left: 15px;
      h4 {
        color: $font-ligth;
        font-family: $fontFamily;
        font-weight: 700;

        span {
          color: $primary-color;
        }
      }
    }

    &__contaiter1 {
      margin-left: 25px;
      min-width: 230px;
      h4 {
        color: $font-ligth;
        font-family: $fontFamily;
        font-weight: 300;
      }

      h3 {
        color: $green;
        font-family: $fontFamily;
        font-weight: 700;
      }
    }

    &__contaiter2 {
      margin-left: 25px;
      h4 {
        color: $font-ligth;
        font-family: $fontFamily;
        font-weight: 300;
      }

      h3 {
        color: $green;
        font-family: $fontFamily;
        font-weight: 700;
      }
    }

    &__contaiter3 {
      margin-left: auto;

      div {
        color: $font-ligth;
        font-family: $fontFamily;
        font-weight: 300;
        text-align: center;
        background-color: $error;
        padding: 3px;
        border-radius: 2px;
        font-size: 12px;
        width: 70px;
        margin-left: auto;
      }

      .ui.button {
        text-transform: uppercase;
        width: 200px;
        margin-bottom: 30px;
        margin-top: 25px;
        border-radius: 50px;
        padding: 20px 0;
        font-size: 14px;
        letter-spacing: 1px;
        font-family: $fontFamily;
        background-color: $primary-color;
        color: $font-ligth;
      }
    }
  }
}
