@import "../../scss/index.scss";

.top-bar {
  height: 60px;
  background-color: $background-grey-ligth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .ui.fluid.input {
    width: 100%;
    max-width: 600px;
    height: 35px;
    margin-right: 50px;
    margin-left: 50px;
    color: $font-ligth;
    input {
      background-color: $background-dark-hover-light !important;
      color: $font-ligth;
      &:hover,
      &:active,
      &:focus {
        background-color: $background-dark-hover !important;
        border: 0;
        color: $font-ligth;
      }
    }
  }

  &__left {
    i {
      top: 0 !important;
      font-size: 25px !important;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    margin-right: 20px;

    a {
      display: flex;
      align-items: center;

      color: $font-ligth;

      &:hover {
        color: $primary-color;
      }

      img {
        width: 25px;
        height: 25px;
        margin: 10px;
        border-radius: 50px;
        margin-left: 25px;
        object-fit: cover;
        object-position: center center;
      }
    }

    i {
      top: 0px !important;
      font-size: 20px !important;
      &:hover {
        cursor: pointer;
        color: $primary-color;
      }
    }
  }
}
