@import "../../scss/index.scss";

.ui.menu.vertical.nemu-left {
  display: flex;
  justify-content: space-between !important;
  border-radius: 0;
  background-color: $background-grey-ligth;
  height: 100%;
  width: 100%;
  padding-top: 60px;

  .item,
  a.item {
    color: $font-grey !important;
    font-weight: 700;
    font-size: 16px;
    font-family: $fontFamily;
    border-left: 6px solid transparent;
    width: 100%;

    &:hover,
    &.active {
      color: $font-ligth !important;
      background-color: transparent !important;
      cursor: pointer;
    }

    &.active {
      border-color: $primary-color;
    }
  }

  .footer {
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
  }
}

.content {
  .content-modal {
    margin: 30px;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    h3 {
      text-align: center;
      font-size: 20px;
      color: $font-ligth;
      font-family: $fontFamily;
    }

    p {
      text-align: center;
      font-size: 14px;
      color: $font-ligth;
      font-family: $fontFamily;
      margin-bottom: 20px;
    }
    .ui.button {
      text-transform: uppercase;
      width: 100%;
      margin-bottom: 30px;
      margin-top: 5px;
      border-radius: 50px;
      padding: 20px 0;
      font-size: 14px;
      letter-spacing: 1px;
      font-family: $fontFamily;
    }

    .ui.button.cancel {
      background-color: $background-ligth;
      color: $font-black;
    }

    .ui.button.accept {
      background-color: $primary-color;
      color: $font-ligth;
    }
  }
}
