@import "../../scss/index.scss";

.barner {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;

  &__logo {
    z-index: 100;
    text-align: center;
    img {
      width: 110px;
      height: 110px;
      border-radius: 100px;
      margin-top: 60px;
      object-fit: cover;
      object-position: center center;
    }

    h2 {
      text-transform: uppercase;
      margin-top: 15px;
      font-size: 20px;
      font-weight: 700;
      font-family: $fontFamily;
      color: $font-ligth;
    }
  }
}

.restaurant {
  margin: 30px;
  padding: 20px;
  background-color: $background-grey;
  border-radius: 5px;

  &__container-details {
    h4 {
      font-size: 20px;
      font-weight: 700;
      color: $green;
      text-transform: uppercase;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      color: $font-ligth;
      text-transform: uppercase;
    }
  }

  &__container-details2 {
    margin-top: 40px;

    h4 {
      font-size: 20px;
      font-weight: 700;
      color: $primary-color;
      text-transform: uppercase;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      color: $font-ligth;
    }

    .cont {
      display: flex;
      align-items: center;
      margin-top: 20px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 100px;
        object-fit: cover;
        object-position: center center;
      }

      h3 {
        font-size: 16px;
        font-weight: 300;
        color: $font-ligth;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        color: $font-ligth;
      }

      div {
        margin-left: 15px;
      }
    }
  }

  .container-prod {
    h2 {
      font-size: 20px;
      font-weight: 700;
      color: $green;
      text-transform: uppercase;
    }

    .mini-card {
      margin-bottom: 20px;
      padding: 15px;
      background-color: $background-grey-ligth;
      border-radius: 10px;
      box-shadow: 0 2px 14px 0 rgba(32, 32, 32, 0.5);
      display: flex;
      img {
        width: 100px;
        height: 100px;
        border-radius: 8px;
        object-fit: cover;
        object-position: center center;
      }

      div {
        margin-left: 15px;

        h3 {
          font-size: 18px;
          font-weight: 700;
          color: $font-ligth;

          span {
            color: $primary-color;
          }
        }
      }
    }

    .btn-proccess {
      .ui.button {
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 15px;
        border-radius: 50px;
        padding: 20px 0;
        font-size: 14px;
        letter-spacing: 1px;
        font-family: $fontFamily;
        background-color: $primary-color;
        color: $font-ligth;
      }

      .cancel {
        background-color: $error !important;
      }
    }
  }
}

.loading {
  margin: 30px;
}
