.logo {
  width: 50px;
  height: 50px;
  margin: 10px;
  text-align: center;
}

.site-layout-background {
  background-color: #111111;
  color: white;
  border-radius: 7px;
}

.site-layout .site-layout-background-header {
  background-color: #111111;
  color: white;
  justify-content: flex-end;
  text-align: right;
  padding-right: 20px;
}
