@import "../../../scss/index.scss";

.recovery-form {
  margin-top: 30px;

  h2 {
    font-size: 24px;
    color: $font-ligth;
    font-weight: 500;
    font-family: $fontFamily;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: $font-ligth;
    font-weight: 300;
    font-family: $fontFamily;
    text-align: center;
    margin-bottom: 20px;
  }

  .ui.form {
    .field {
      .input {
        margin-bottom: 5px;
        input {
          background-color: $background-grey-ligth;
          height: 50px;
          color: $font-ligth;
          &:hover,
          &:active,
          &:focus {
            background-color: $background-dark-hover;
            border: 0;
          }
        }
        i {
          color: $font-ligth;
          font-size: 19px;
        }
        &.error {
          input {
            border-bottom: 1px solid $error;
          }
        }
      }
    }
    .button {
      text-transform: uppercase;
      width: 100%;
      margin-bottom: 30px;
      margin-top: 15px;
      border-radius: 50px;
      padding: 20px 0;
      font-size: 14px;
      letter-spacing: 1px;
      font-family: $fontFamily;
      background-color: $primary-color;
      color: $font-ligth;
    }

    .error-text {
      color: $error;
      padding-left: 15px;
    }
  }

  &__options {
    margin-top: 30px;
    color: $font-ligth;
    text-align: center;
    font-size: 14px;
    font-weight: 700;

    p {
      &:first-of-type {
        margin-bottom: 20px;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
        }
      }
      &:last-of-type {
        color: $font-grey;
        margin-bottom: 30px;
        span {
          font-weight: 700;
          padding-left: 5px;
          text-transform: uppercase;
          color: $font-ligth;
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
