@import "../../../scss/index.scss";

.container-order {
  padding: 20px;
  background-color: $background-grey;
  border-radius: 5px;

  .ui.button {
    width: 120px;
    margin-bottom: 30px;
    margin-top: 25px;
    border-radius: 3px;
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: $fontFamily;
    background-color: $primary-color;
    color: $font-ligth;

    &:hover,
    :active,
    :focus {
      background-color: $primary-color;
      color: $font-ligth;
    }
  }

  .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    cursor: pointer;
    color: $font-ligth;

    &:hover,
    &:active,
    &:focus {
      background-color: $primary-color;
    }
  }

  .react-datepicker__day--selected {
    background-color: $primary-color;
  }

  .react-datepicker__month-container {
    float: left;
    background-color: $background-grey;
    color: $font-ligth;
  }

  .react-datepicker__header {
    text-align: center;
    background-color: $background-grey;
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding-top: 8px;
    position: relative;

    .react-datepicker__day-name {
      color: $font-ligth;
    }

    .react-datepicker__current-month {
      color: $primary-color;
    }
  }

  .react-datepicker__input-container input {
    background-color: $background-grey-ligth;
    border: none;
    padding: 10px;
    width: 180px;
    border-radius: 5px;
    margin-right: 30px;

    &:hover,
    &:active,
    &:focus {
      background-color: $background-dark-hover;
      border: 0;
      font-weight: 500;
      font-family: $fontFamily;
    }
  }

  .date {
    width: 100%;
    h4 {
      color: $font-ligth;
      font-weight: 300;
      font-family: $fontFamily;
    }
  }
}

.css-1qtlriq-SkeletonTheme {
  margin-bottom: 20px;
  border-radius: 10px;
}
