@import "../../scss/index.scss";

.restaurant {
  margin: 30px;
  padding: 20px;
  background-color: $background-grey;
  border-radius: 5px;

  .grids_transacciones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .separator {
    background-color: $background-grey-ligth;
    width: 100%;
    height: 1px;
  }

  h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    font-family: $fontFamily;
    color: $primary-color;
  }

  h4 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    font-family: $fontFamily;
    color: $green;
  }
}
