@import "../../scss/index.scss";

.containers__inicio {
  width: 97%;
  margin: 20px;
  &__item {
    background-color: $background-grey;
    overflow: auto;
    border-bottom: 1px solid $background-grey-ligth;
    ul {
      li {
        list-style: none;
        display: flex;
        float: left;
        margin-top: 15px;
        margin-bottom: 15px;
        button {
          border: none;
          width: 200px;
          cursor: pointer;
          outline: none;
          float: left;
          text-align: center;
          padding: 12px;
          color: white;
          text-decoration: none;
          font-size: 17px;
          background-color: transparent;
        }

        .active {
          background-color: $primary-color;
        }
      }
    }
  }
}
