@import "../../../scss/index.scss";

.ui.modal.basic-modal {
  background-color: $background-grey-ligth;
  border-radius: 12px;

  .header {
    text-align: center;
    color: $font-ligth !important;
    font-family: $fontFamily;
    background-color: transparent;

    h3 {
      margin: 0;
      color: $font-ligth !important;
    }

    i {
      position: absolute;
      right: 10px;
      top: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .content {
    color: $font-ligth !important;
    font-family: $fontFamily;
    background-color: transparent;
  }
}
