@import "./scss/index.scss";

* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: $font-ligth !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-dark !important;
}

a,
a:hover {
  text-decoration: none;
}

.dflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Toastify {
  .Toastify__toast-container--top-center {
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;

    .Toastify__toast--success {
      width: 100%;
      background-color: $green;

      .Toastify__close-button {
        align-self: center;
      }
    }

    .Toastify__toast--error {
      width: 100%;
      background-color: $error;

      .Toastify__close-button {
        align-self: center;
      }
    }

    .Toastify__toast--warning {
      width: 100%;
      background-color: $orange;

      .Toastify__close-button {
        align-self: center;
      }
    }
  }
}

@media (min-width: 576px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
