$primary-color: #ffcb40;
$primary-color-hover: #ffdd81;

$font-ligth: #fff;
$font-grey: rgb(153, 153, 153);
$font-black: #000;

$background-ligth: #fff;
$background-grey: #111111;
$background-grey-ligth: #222222;
$background-dark: #000;
$background-dark-hover-light: #333333;
$background-dark-hover: #3c3c3c;

$error: #f5365c;
$green: #95ca3e;
$orange: #ffa500;
