@import "../../scss/index.scss";

.barner {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;

  &__logo {
    z-index: 100;
    text-align: center;
    img {
      width: 110px;
      height: 110px;
      border-radius: 100px;
      margin-top: 60px;
      object-fit: cover;
      object-position: center center;
    }

    h2 {
      text-transform: uppercase;
      margin-top: 15px;
      font-size: 20px;
      font-weight: 700;
      font-family: $fontFamily;
      color: $font-ligth;
    }
  }
}

.restaurant {
  margin: 30px;
  padding: 20px;
  background-color: $background-grey;
  border-radius: 5px;

  h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    font-family: $fontFamily;
    color: $primary-color;
  }

  h4 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    font-family: $fontFamily;
    color: $green;
  }

  .ui {
    .input {
      width: 100%;
      color: $font-ligth;
      input {
        margin-bottom: 20px;
        background-color: $background-grey-ligth;
        height: 50px;
        color: $font-ligth;
        &:hover,
        &:active,
        &:focus {
          background-color: $background-dark-hover;
          border: 0;
          color: $font-ligth;
        }
      }
    }

    textarea {
      width: 100%;
      min-height: 150px;
      margin-bottom: 25px;
      margin-top: 25px;
      border: 0;
      border-radius: 5px;
      padding: 10px;
      background-color: $background-grey-ligth;
      color: $font-ligth;
      &:hover,
      &:active,
      &:focus {
        background-color: $background-dark-hover;
        border: 0;
        color: $font-ligth;
      }
    }

    .button {
      text-transform: uppercase;
      width: 100%;
      margin-bottom: 30px;
      margin-top: 15px;
      border-radius: 50px;
      padding: 20px 0;
      font-size: 14px;
      letter-spacing: 1px;
      font-family: $fontFamily;
      background-color: $primary-color;
      color: $font-ligth;

      &:hover {
        background-color: $primary-color;
        color: $font-ligth;
      }
    }
  }

  .timer {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: $background-grey-ligth;
    color: $font-ligth;

    .react-time-picker__inputGroup__input,
    .react-time-picker__inputGroup__hour {
      width: 100px;
    }

    .react-time-picker__wrapper {
      border: 0;
    }
  }

  .dias {
    display: flex;
    flex-flow: wrap-reverse;
    align-self: center;

    div {
      display: flex;
      background-color: $primary-color;
      padding: 10px;
      margin: 10px;
      border-radius: 50px;
    }
  }

  .mini-card {
    margin-bottom: 20px;
    padding: 15px;
    background-color: $background-grey-ligth;
    border-radius: 10px;
    box-shadow: 0 2px 14px 0 rgba(32, 32, 32, 0.5);
    display: flex;
    img {
      width: 100px;
      height: 100px;
      border-radius: 8px;
      object-fit: cover;
      object-position: center center;
    }

    div {
      margin-left: 15px;

      h3 {
        font-size: 18px;
        font-weight: 700;
        color: $font-ligth;

        span {
          color: $primary-color;
        }
      }
    }
  }
}
