@import "../../../scss/index.scss";

.ui.modal.basic-modal {
  background-color: $background-grey-ligth;
  border-radius: 12px;

  .header {
    color: $font-ligth !important;
    font-family: $fontFamily;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150;

    img {
      width: 100%;
      height: 150;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      object-fit: cover;
      object-position: center center;
    }

    h3 {
      margin: 0;
      color: $font-ligth !important;
    }

    i {
      position: absolute;
      right: 10px;
      top: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .content {
    color: $font-ligth !important;
    font-family: $fontFamily;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}
