@import "../../scss/index.scss";

.container-menu {
  margin: 30px;
  padding: 20px;
  background-color: $background-grey;
  border-radius: 5px;
  &__layout {
    .row {
      .eight.wide.column {
        h3 {
          color: $primary-color;
          font-weight: 700;
          font-size: 24px;
        }

        h4 {
          margin-top: 15px;
          font-size: 16px;
          font-weight: 700;
          font-family: $fontFamily;
          color: $green;
        }

        div {
          width: 100%;
          img {
            width: 100px;
            height: 100px;
            border-radius: 8px;
            object-fit: cover;
            object-position: center center;
          }

          h3 {
            color: $font-ligth;
            margin-bottom: 20px;
          }

          .ui.button {
            text-transform: uppercase;
            width: 100%;
            margin-top: 20px;
            border-radius: 50px;
            padding: 15px 0;
            font-size: 12px;
            letter-spacing: 0.5px;
            font-family: $fontFamily;
            background-color: $primary-color;
            color: $font-ligth;
            margin: 10px;
            text-align: center;
          }

          textarea {
            width: 100%;
            margin-bottom: 25px;
            margin-top: 25px;
            border: 0;
            border-radius: 5px;
            padding: 10px;
            background-color: $background-grey-ligth;
            color: $font-ligth;
            &:hover,
            &:active,
            &:focus {
              background-color: $background-dark-hover;
              border: 0;
              color: $font-ligth;
            }
          }
        }
      }
    }

    .ui.input {
      width: 100%;
      color: $font-ligth;
      input {
        background-color: $background-grey-ligth;
        height: 50px;
        color: $font-ligth;
        margin-bottom: 20px;
        &:hover,
        &:active,
        &:focus {
          background-color: $background-dark-hover;
          border: 0;
          color: $font-ligth;
        }
      }
    }

    .ui.selection.dropdown {
      background-color: $background-grey-ligth;
      height: 50px;
      color: $font-ligth;
      margin-bottom: 20px;
      &:hover,
      &:active,
      &:focus {
        background-color: $background-dark-hover;
        border: 0;
        color: $font-ligth;
      }

      .visible.menu.transition {
        background-color: $background-grey-ligth;
        border: none;
        div {
          span {
            color: $font-ligth;
          }
        }
      }
    }

    .ui.checkbox .box:before,
    .ui.checkbox label:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 17px;
      height: 17px;
      content: "";
      background: $font-ligth;
      border-radius: 0.21428571rem;
      transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease,
        box-shadow 0.1s ease;
      border: 1px solid $primary-color;
      color: $font-ligth;
    }

    .ui.checkbox {
      label {
        color: $font-ligth;

        &:hover,
        &:active,
        &:focus,
        &::before,
        &::after {
          color: $font-ligth;
        }
      }
    }
  }

  .mini-card {
    margin-bottom: 20px;
    padding: 15px;
    background-color: $background-grey-ligth;
    border-radius: 10px;
    box-shadow: 0 2px 14px 0 rgba(32, 32, 32, 0.5);
    display: flex;
    img {
      width: 100px;
      height: 100px;
      border-radius: 8px;
      margin-right: 15px;
      object-fit: cover;
      object-position: center center;
    }

    div {
      h3 {
        font-size: 18px;
        font-weight: 700;
        color: $font-ligth;

        span {
          color: $primary-color;
        }
      }
    }
  }

  .new {
    color: $font-ligth;
    margin-left: auto;
    background-color: $error;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
  }

  .avatar-uploader {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    align-self: center;
    background-color: $background-grey-ligth;
    margin-bottom: 50px;
    padding: 0;

    span {
      background-color: $background-grey-ligth;
      color: $font-ligth;
      border: 0;
      padding: 0;
    }

    .ant-upload {
      border: none;
      width: 180px;
      height: 180px;
      border-radius: 10px;
      padding: 0;
    }
  }
}

.content-modal {
  .acompanante-header {
    height: 50px;
    width: 100%;
    background-color: $background-grey;
    text-align: left !important;
    display: flex;

    h3 {
      color: $primary-color !important;
      padding: 20px;
      text-align: left !important;
      padding-bottom: 20px;
    }
  }

  p {
    color: $font-ligth !important;
    padding: 20px;
    text-align: left !important;
  }

  .separator {
    width: 100%;
    height: 0.5px;
    background-color: $background-grey;
  }
}

.nocontenido {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center center;
  }

  h3 {
    color: $font-ligth !important;
    padding: 20px;
  }
}
